product/app/WebViewGoogle/WebViewGoogle.apk
product/app/ASUSAR/ASUSAR.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Messages/Messages.apk
product/priv-app/Velvet/Velvet.apk
bootRE/boot.elf
modem.img
system/system/etc/preload/com.google.android.apps.photos.apk
system/system/app/FFBE/FFBE.apk
system/system/app/Amight/Amight.apk
system/system/app/NextAppCore/NextAppCore.apk
system/system/app/AsusSetupWizard/AsusSetupWizard.apk
system/system/app/ArmouryCrateAR/ArmouryCrateAR.apk
system/system/priv-app/ROGGameCenter/ROGGameCenter.apk
system/system/priv-app/ROGAsusSettings/ROGAsusSettings.apk
system/system/priv-app/GameBroadcaster/GameBroadcaster.apk
system/system/priv-app/AsusGallery/AsusGallery.apk
system/system/priv-app/AsusTips/AsusTips.apk
recovery.img
system_ext/apex/com.android.vndk.v30.apex
vendor/etc/camera/vidhance.lic
